@use "./partials/setup";

// General styles //

html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.15;
    background-color: #fff;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;

    li {
        text-decoration: none;
        list-style: none;
    }
}

a {
    text-decoration: none;
    list-style: none;
}

img {
    flex: 0 0 auto;
    align-self: center;
}

header {
    background-color: #F8EEE5;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    max-width: 50%;
}

.flexContainer {
    display: flex;

    img {
        max-width: 50%;
    }

}

.textContainer {
    display: flex;
}

// Styling .promo bar

.promo {
    display: flex;
    background-color: #abd373;
    color: #fff;
    text-transform: uppercase;

    .textContainer {
        margin: 0 auto;
        width: 50%;
        justify-content: space-between;

        .currency {
            display: flex;
            align-items: center;

            a {
                color: #fff;
                padding-left: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
}

// Styling Nav //

nav {
    display: flex;
    justify-content: space-between;
    height: 10vh;

    .checkout {
        height: auto;
        width: auto;
        max-height: 25px;
        max-width: 25px;
    }

    ul {
        display: flex;
        align-items: center;
        text-transform: uppercase;

        li {
            padding: 1rem;
            max-width: 50%;

            a {
                color: #000;
            }
        }
    }
}

// Styling Header

header {
    .flexContainer {
        height: 60vh;
    }

    .textContainer {
        justify-content: center;
        flex-flow: column;
        margin-right: 2rem;
    
        h2 {
            font-size: 5rem;
            text-transform: uppercase; //TODO: add general styles for h2 and h3s
            margin: 1rem 0;
        }

        h3 {
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            text-transform: capitalize;
            margin: 0;
        }

        a {
            align-self: flex-start;
            text-transform: uppercase;
            color: #fff;
            background-color: #abd373;
            border-radius: 30px;
            margin: 2rem 0;
            padding: 1rem 2rem;

            &:hover {
                background-color: #475e28;
            }
        }
    }
}
